.multi-file .file {
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  background: white;
  margin-right: 5px;
  min-height: 150px;
}
.multi-file .file .file-name {
  text-align: center;
  font-size: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multi-file .file .file-name:hover {
  overflow: visible;
}
.multi-file .file:hover .remove-file {
  display: block;
}
.multi-file .file .remove-file {
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;
  cursor: pointer;
}